{{#each results}}
<h1>Titulo: {{this.title}}</h1>
<h2>Notas: {{this.notes}}</h2>
<p>Custom1: {{this.custom1}}</p>
<p>Custom2: {{this.custom2}}</p>
<p>Custom3: {{this.custom3}}</p>
<p>Custom4: {{this.custom4}}</p>
<p>Custom5: {{this.custom5}}</p>
<p>Misc1: {{this.misc1}}</p>
<p>Misc2: {{this.misc2}}</p>
<p>Misc3: {{this.misc3}}</p>
{{/each}}